<div id="articleList">
	<ul>
		<% site.posts.forEach(function(post){ %>

			<li class="article-li">
				<span class="article-date"><%- date(post.date, "YYYY-MM-DD") %></span>
				<a class="article-read" href="<%- config.root %><%- post.path %>"> 阅读全文 </span>
				<a class="article-title" href="<%- config.root %><%- post.path %>"><%- post.slug.split("/")[post.slug.split("/").length-1] %></a>
				<div class="article-digest">
					<%- post.more.replace(/<\/?.+?\/?>/g, "").substring(0, 100) %>
					...
				</div>
			</li>
			
		<% }); %>
	</ul>
</div>